@font-face {
	font-family:'AltGotNo2';
	src:url('../fonts/AlternateGothic2.ttf') format('truetype');
	/*
	src:url('/../fonts/AlternateGothicNo2.ttf') format('truetype');
	src:url('/../fonts/AlternateGothic2.eot');
	src:url('/../fonts/AlternateGothic2.eot?#iefix') format('embedded-opentype'),
	url('/../fonts/AlternateGothic2.woff') format('woff'),
	url('/../fonts/AlternateGothic2.ttf') format('truetype'),
	url('/../fonts/AlternateGothic2.svg#AlternateGotNo2') format('svg');
	*/
}
@font-face {
	font-family:"MyriadPro";
	src:url("../fonts/MyriadPro-Regular.otf") format('opentype');
}
/* Actual RH site font family for headlines, just for reference:
 * font-family:AlternateGotNo2,'Arial Narrow','Helvetica Narrow','Ubuntu Condensed',
 * 'Liberation Sans Narrow',Arial,'Helvetica Neue',Helvetica,Geneva,sans-serif
 */
p.headline {
	font-family:AltGotNo2, 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size:42px;
	color:rgb(0,89,143);
	margin:0.5em auto
}
p.tinyHeadline {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:black
}
p.impactFormula {
	margin:5px 0px 5px 1cm
}
p.impactFactors {
	margin:5px 0px 20px 1cm;
	font-style:italic
}
p.body {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#969696;
	margin:1em
}
p.tinyBody {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#969696
}
span.headline {
	font-family:AltGotNo2, 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size:42px;
	color:rgb(0,89,143);
}
span.hint {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:rgb(0,89,143);
	text-decoration:underline;
	display:inline-block
}
span.metricsSubtotal {
	color:rgb(0,89,143);
}
span.metricTitle {
	font-style:italic;
	font-size:16px;
}
span.body {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#969696;
}
span.quicknav {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:blue;
	text-decoration:underline;
	display:inline-block;
	cursor:pointer;
}
div.topLevel {
	max-width:1170px;
	margin:25px auto
}
div.altTopLevel {
	max-width:1110px;
	padding:30px;
	margin:25px auto;
	background-color:rgb(237,235,228)
}
div.thinTopLevel {
	max-width:870px;
	margin:25px auto
}
div.columnContainer {
	overflow:auto
}
/* Class for each column in a pair of columns */
div.twoColumn {
	float:left;
	width:50%
}
/* Class for each column in a trio of columns */
div.threeColumn {
	float:left;
	width:33%
}
div.sampleImageContainer {
	/*
	 * width:350px
	 * height:225px
	 */
	width:auto;
	height:225px
}
input {
	float:right;
	clear:both
}
input.bcRatio {
	float:left
}
input.constant {
	background-color:lightgrey
}
input.duplicate {
	disabled:disabled;
	background-color:lightblue
}
li.metricsFactor {
	padding-bottom:3px
}
li.researchList {
	margin:0px;
	padding:0px;
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#969696
}
li.impactCategory {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:black
}
hr.section {
	max-width:1170px;
	margin:auto;
	color:#969696;
	border-color:#969696;
	background-color:#969696;
	height:1px;
	border:0px
}
hr.subsection {
	max-width:700px;
	margin:auto;
	color:#969696;
	border-color:#969696;
	background-color:#969696;
	height:1px;
	border:0px
}
tr.metricsRow {
	width:100%;
	min-height:70px;
	background-color:rgb(237,235,228);
	border:0px
}
tr.altMetricsRow {
	width:100%;
	min-height:70px;
	background-color:rgb(248,247,243);
	border:0px
}
td.metricsFactor {
	width:85%;
	
}
td.metricsField {
	width:15%
}
a.quicknav {
	font-family:MyriadPro, Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:rgb(0,89,143);
	text-decoration:underline;
	display:inline-block
}
input {
	margin:5px;
	height:20px;
	width:100%;
	border-radius:5px;
	border-width:1px;
	background-color:rgb(251,251,251);
	text-align:right;
}